.order-container {
    margin: 0 auto;
    width: 80%;
}
.order-container .div-table {
    display: table;
    width: 50%;
    border-spacing: 5px;
    border: 1px solid #f2f2f2;
}
.order-container .div-table-row {
    display: table-row;
    width: auto;
    clear: both;
    height: 60px;
}
    .order-container .div-table-row .title {
        font-size: 14px;
    }
.order-container .div-table-col {
    float: left;
    display: table-column;
    width: 350px;
    padding-left: 10%;
    padding-right: 10%;
}