.forget-password-container {
    width: 40%;
    padding: 10px 10px;
    margin: 0 auto;
}
.forget-password-content {
    margin-bottom: 10px;
}
.forget-password-container-error {
    width: 43%;
    padding: 10px 10px;
    margin: 0 auto;
}
.forget-password-container-error  .link-error {
    margin-left: 40%;
    margin-right: 40%;
}